<a class="logo" href="{{ '/' | relative_url }}"><h1>GUIcci</h1></a>

<ul>
  <li>
    <a href="{{ 'docs/overview' | relative_url }}"><i class="icon-file-text"></i> Overview</a> <i class="menuToggle icon-chevron-down"></i>
    <ul class="submenu">
      <li><a href="{{ 'docs/overview#getting-started' | relative_url }}">Getting started</a></li>
      <li><a href="{{ 'docs/overview#customization' | relative_url }}">Customization</a></li>
    </ul>
  </li>
  <li>
    <a href="{{ 'docs/grid' | relative_url }}"><i class="icon-sidebar"></i> Grid</a> <i class="menuToggle icon-chevron-down"></i>
    <ul class="submenu">
      <li><a href="{{ 'docs/grid#basics' | relative_url }}">Basics</a></li>
      <li><a href="{{ 'docs/grid#responsive-classes' | relative_url }}">Responsive classes</a></li>
    </ul>
  </li>
  <li>
    <a href="#"><i class="icon-gift"></i> Helpers</a>
  </li>
  <li>
    <a href="#"><i class="icon-box"></i> Components</a>
  </li>
  <li><a href="#"><i class="icon-code"></i> Contribute</a></li>
</ul>