{% assign sorted = site.docs | sort: 'position' %}


<div class="row align-items--center justify-content--center">
  <div class="column one-twentieth">
    <i class="icon-menu"></i>
  </div>
  <div class="column logo-column align-items--center justify-content--center">
    <a class="logo" href="{{ '/' | relative_url }}">
      <img src="{{ 'images/logo.png' | relative_url }}" alt="Launchpad">
    </a>
  </div>
  <div class="column one-twentieth">

  </div>
</div>

<div class="menuContainer">

  <ul class="mainMenu" >
    {% for doc in sorted %}
      {% assign slugTitle = doc.title | slugify %}
      <li>
        <a href="{{ doc.url | relative_url }}"><i class="{{ doc.icon }}"></i> {{ doc.title }}</a>
        {% if doc.anchors != null %}
          <i class="menuToggle {% if page.url contains slugTitle %}icon-chevron-up{% else %}icon-chevron-down{% endif %}"></i>
          <ul class="submenu {{ page.url }} {{ doc.title }}" {% if page.url contains slugTitle %}style="display: block"{% endif %}>
            {% for anchor in doc.anchors %}
              {% assign link = anchor | slugify | prepend: '#' %}
              <li><a href="{{ doc.direct_link | append: link | relative_url }}">{{ anchor }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
    {% endfor %}

    <li><a href="https://github.com/Bracketeers/Launchpad/issues" target="_blank"><i class="icon-code"></i> Contribute</a></li>
  </ul>
</div>