/* ============ Variables ============ */

$radius: 5px;

$standard: #00b9f1;
$postive: #75D701;
$negative: #f9320c;
$warning: #f9c00c;

/* ============ Classes ============ */

.float--left { float: left; }
.float--right { float: right; }

.text-weight--lighter { font-weight: 400; }
.text-weight--bolder { font-weight: bolder; }

.text-align--center { text-align: center; }
.text-align--left { text-align: left; }
.text-align--right { text-align: right; }

.text-size--smaller { font-size: 50%; }
.text-size--small { font-size: 75%; }
.text-size--normal { font-size: 100%; }
.text-size--large { font-size: 125%; }
.text-size--larger { font-size: 150%; }

.align-items--center { align-items: center; }
.align-items--start { align-items: flex-start; }
.align-items--end { align-items: flex-end; }

.justify-content--center { justify-content: center; }
.justify-content--left { justify-content: left; }
.justify-content--right { justify-content: right; }

.horizontal-list {
  padding-left: 0;
  li {
    display: inline-block;
    padding-right: $gutter;
  }
}

/* ============ Includes ============ */

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}