/* ============ Variables ============ */

//Numbers
$font-size: 16px;
$gutter: .5rem;
$radius: 5px;

//Colors
$black: #242424;
$grey: #eee;
$negative: #f9320c;
$positive: #75D701;
$standard: #00b9f1;
$warning: #f9c00c;
$white: #fff;