---
---

/* Lightr: get things done faster
// GNU license https://github.com/matoululu/Lightr/blob/master/LICENSE
// @author Matthew Marineau https://www.matou.io
*/

/* ============ Includes ============ */

@import 'normalize';
@import 'grid';
@import 'helpers';
@import 'icomoon';

/* ============ General ============ */

body,
html {
  background-color: #f4f6f8;
  color: #454f5b;
  font-family: 'Fira Sans',sans-serif;
  height: 100%;
  line-height: 30px;
}

a {
  color: $standard;
  transition: ease-in-out 0.15s all;
  &:hover { color: darken($standard, 20%); }
}

h1, h2, h3, h4, h5 {
  color: #161d25;
}

h2 { margin-top: 60px; }
h3 { margin-top: 30px; }

.container {
  margin: 30px;
  max-width: 1100px;
  width: 100%;
}

code {
  background-color: #e4e4e4;
  color: #ff3860;
  padding: 0 3px;
}

pre{ max-width: 800px; }

/* ============ Layout ============ */

.one-twentieth {
  @include media-query($tablet-up) {
    display: none;
  }
}

.content {
  float: left;
  height: 100%;
  margin-top: 30px;
  max-width: 1100px;
  padding: 15px;
  width: calc(100% - 30px);
  @include media-query($tablet-up) {
    padding-left: 360px;
    width: calc(100% - 390px);
  }
}

.sidebar {
  background-color: #fff;
  border-right: 1px solid #dfe3e8;
  box-sizing: border-box;
  float: left;
  padding: 15px;
  width: 100%;
  @include media-query($tablet-up) {
    height: 100%;
    max-width: 300px;
    padding: 30px;
    position: fixed;
  }
  .icon-menu,
  .icon-x {
    display: none;
    padding-top: 5px;
    @include media-query($mobile) {
      color: #161d25;
      display: block;
      font-size: 20px;
    }
  }
  .logo-column { @include flexbox(); }
  .logo {
    display: inline-block;
    text-decoration: none;
    img {
      max-width: 90%;
      @include media-query($mobile) {
        display: block;
        max-width: 120px;
      }
    }
  }
  ul {
    list-style: none;
    padding-left: 0;
    padding-right: 30px;
    @include media-query($mobile) {
      padding-right: 0;
    }
    li {
      padding: 20px 0 0;
      font-size: 20px;
      a {
        color: #333;
        text-decoration: none;
      }
      i.menuToggle {
        cursor: pointer;
        float: right;
      }
    }
  }

  ul.submenu {
    display: none;
    padding-top: 10px;
    &.active { display: block; }
    padding-left: 20px;
    li {
      font-size: 16px;
      margin: 7px 0;
      padding: 0px;
      a { color: #787878; }
      a:hover { color: darken(#787878, 20%); }
    }
  }
}

.example {
  max-width: 800px;
  width: 100%;
  .column p {
    background-color: $standard;
    color: white;
    text-align: center;
  }
}

.menuContainer {
  ul.mainMenu {
    @include media-query($mobile) {
      display: none;
    }
  }
  &.active {
    ul.mainMenu {
      @include media-query($mobile) {
        display: block;
      }
    }
  }
}

/* ============ Index ============ */

.category {
  @include flexbox();
  color: white;
  min-height: 200px;
  padding: 10px;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }
  h2 {
    color: white;
    margin: 10px 0;
  }
  span {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    margin: 3px;
    padding: 3px 6px;
    white-space: nowrap;
  }
}
.column--overview { background-color: $standard; }
.column--grid { background-color: $positive; }
.column--helpers { background-color: $negative; }
.column--components { background-color: $warning; }