/* ============ Grid variables ============ */

//Viewport & media queries
$grid-mobile: 480px;
$grid-tablet: 768px;
$grid-desktop: 1024px;


$mobile: 'mobile';
$mobile-down: 'small-down';
$mobile-up: 'small-up';
$tablet: 'tablet';
$tablet-down: 'tablet';
$tablet-up: 'desktop';
$desktop-down: 'large-down';
$desktop-up: 'large-up';

$breakpoints: (
  $mobile '(max-width: #{$grid-tablet - 1})',
  $mobile-down '(max-width: #{$grid-mobile})',
  $mobile-up '(min-width: #{$grid-mobile + 1})',
  $tablet '(min-width: #{$grid-tablet}) and (max-width: #{$grid-desktop})',
  $tablet-down '(max-width: #{$grid-tablet})',
  $tablet-up '(min-width: #{$grid-tablet + 1})',
  $desktop-up '(min-width: #{$grid-desktop + 1})',
  $desktop-down '(max-width: #{$grid-desktop})',
);

/* ============ Grid system ============ */

.row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin: $gutter;
}

@mixin column-builder($breakpoint: '') {
  .#{$breakpoint}one-whole { flex: none; width: calc(100% - #{$gutter}* 2); }
  .#{$breakpoint}one-half { flex: none; width: calc(50% - #{$gutter}* 2); }
  .#{$breakpoint}one-third { flex: none; width: calc(33.333% - #{$gutter}* 2); }
  .#{$breakpoint}two-thirds { flex: none; width: calc(66.666% - #{$gutter}* 2); }
  .#{$breakpoint}one-quarter { flex: none; width: calc(25% - #{$gutter}* 2); }
  .#{$breakpoint}two-quarters { flex: none; width: calc(50% - #{$gutter}* 2); }
  .#{$breakpoint}three-quarters { flex: none; width: calc(75% - #{$gutter}* 2); }
  .#{$breakpoint}one-fifth { flex: none; width: calc(20% - #{$gutter}* 2); }
  .#{$breakpoint}two-fifths { flex: none; width: calc(40% - #{$gutter}* 2); }
  .#{$breakpoint}three-fifths { flex: none; width: calc(60% - #{$gutter}* 2); }
  .#{$breakpoint}four-fifths { flex: none; width: calc(80% - #{$gutter}* 2); }
  .#{$breakpoint}one-tenth { flex: none; width: calc(10% - #{$gutter}* 2); }
  .#{$breakpoint}two-tenths { flex: none; width: calc(20% - #{$gutter}* 2); }
  .#{$breakpoint}three-tenths { flex: none; width: calc(30% - #{$gutter}* 2); }
  .#{$breakpoint}four-tenths { flex: none; width: calc(40% - #{$gutter}* 2); }
  .#{$breakpoint}five-tenths { flex: none; width: calc(50% - #{$gutter}* 2); }
  .#{$breakpoint}six-tenths { flex: none; width: calc(60% - #{$gutter}* 2); }
  .#{$breakpoint}seven-tenths { flex: none; width: calc(70% - #{$gutter}* 2); }
  .#{$breakpoint}eight-tenths { flex: none; width: calc(80% - #{$gutter}* 2); }
  .#{$breakpoint}nine-tenths { flex: none; width: calc(90% - #{$gutter}* 2); }
}

@include column-builder();

/* ============ Builders ============ */

@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn 'Breakpoint "#{$media-query}" does not exist';
  }
}

$breakpoint-has-widths: ($desktop-up, $desktop-down, $tablet-up, $tablet-down, $tablet, $mobile-up, $mobile-down, $mobile);
@each $breakpoint in $breakpoint-has-widths {
  @include media-query($breakpoint) {
    @include column-builder('#{$breakpoint}--');
  }
}